@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-one: rgb(139, 50, 244);
    --color-two: #5320A6;
    --color-three: #f3f3f3d4;
    --color-four: #0E0D0D;

    --main-fonts: 'Bebas Neue', 'Jost', 'Anton';
}

body{
    margin: 0;
    font-family: var(--main-fonts);
    background-color: white;
}

h1{
    margin: 0;
    position: relative;
    font-size: 65px;
    top: -2px;
}


a{
    text-decoration: none;
    color: var(--color-two);
}

.grid{
    display: flex;
    margin: auto;
    margin-top: 135px;
    width: 600px;
    height: 450px;
    max-height: 761px;
    background-color: var(--color-three);
    border-radius: 10px;
    color: var(--color-two);
    box-shadow: 0px 0px 10px 0px var(--color-one);

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.container input{
    position: relative;
    bottom: 24px;
    padding: 10px;
    height: 26px;
    width: 277px;
    border-radius: 30px;
    border: 0px;
    margin: 7px;
    outline-color: #8B32F4;
    box-shadow: 0px 0px 3px 0px var(--color-two);
    transition: box-shadow 0.3s ease-in-out;
    z-index: 1;
}

.enter-button{
    color: white;
    position: relative;
    border-radius: 30px;
    background-color: var(--color-one);
    border: 0;
    font-family: var(--main-fonts);
    font-size: 25px;
    height: 41px;
    width: 257px;
    box-shadow: 0px 0px 4px var(--color-one);
    top: -38px;
    transition: box-shadow 0.3s ease-in-out;
}

.input-email::placeholder{
    position: relative;
    color: var(--color-one);
    font-weight: bold;
    opacity: 0.6;
}

.input-password::placeholder{
    position: relative;
    color: var(--color-one);
    font-weight: bold;
    opacity: 0.6;
}

.container label{
    margin: 0;
    border: 0;
    position: relative;
    top: -36px;
    left: -126px;
    width: 46px;
    height: 46px;
    border-radius: 30px;
    background-color: #e1e1e1;
    z-index: 2;
}

.container label img{
    position: relative;
    right: -10px;
    bottom: -8px;
    color: var(--color-one);
}

.lock{
    margin: 0;
    border: 0;
    position: relative;
    top: -73px;
    left: -126px;
    width: 46px;
    height: 46px;
    border-radius: 30px;
    background-color: #e1e1e1;
    z-index: 2;
}

.lock img{
    position: relative;
    right: 1px;
    bottom: -1px;
    color: var(--color-one);
}

.enter-button:active{
    transform: scale(0.90);
}

.enter-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 7px var(--color-two);
}

.support-field {
    display: flex;
    position: relative;
    font-size: 20px;
    bottom: 6px;
    flex-direction: column;
    align-items: center;
}

a:hover{
    text-decoration: underline;
}

.container input:focus{
    outline: none;
    box-shadow: 0px 0px 8px 0px var(--color-two);
}

.lock:hover{
    cursor: pointer;
}

.input-email{   
    top: 17px;
    text-indent: 42px;
}

.input-password{
    top: -20px;
    text-indent: 42px;
}


/*Dispositivo Móvel G*/
@media(max-width: 426px){
    .grid{
        height: 423px;
        width: 381px;
        margin-top: 90px;
    }

    .container input{
        width: 202px;
    }

    .enter-button{
        width: 198px;
    }

    .container label{
        left: -88px;
    }

    .lock{
        left: -88px;
    }
}
/*Dispositivo Móvel M-P*/
@media(max-width: 376px){
    .grid{
        height: 446px;
        width: 305px;
        margin-top: 87px;
    }

    .container input{
        width: 202px;
    }
}